.spell-image {
    position:absolute;
    top:1%;
    right:1%;
    z-index: 99;
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url(Oswald-VariableFont_wght.ttf)
}

body {
    font-family: 'Oswald', sans-serif !important;
}
